@using PlanEvent.Data
@model PlanEvent.ViewModels.ActivityEditViewModel

@{
    ViewData["Title"] = "OrganiserMainEdit";
}

<h4>Activity</h4>
<hr />
<h5>Organiser View</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="MainEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Guid" />
            <div class="form-group">
                @Html.DisplayFor(model => model.Name)
                @*<input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>table</td>
                        @{ foreach (var timeProposed in Model.TimeProposeds)
                            {
                                <td>
                                    <p style="text-align:center">
                                        @timeProposed.StartTime.ToShortDateString() <br />
                                        @timeProposed.StartTime.ToShortTimeString() <br />
                                        to <br />
                                        @if (timeProposed.StartTime.ToShortDateString()
                                                     != timeProposed.EndTime.ToShortTimeString())
                                        {
                                            @timeProposed.EndTime.ToShortDateString() <br />
                                        }
                                        @timeProposed.EndTime.ToShortTimeString() <br />
                                        <a asp-controller="EditAct" asp-action="DeleteTime" asp-route-id="@timeProposed.TimeProposedId">x</a>
                                    </p>
                                </td>
                            }
                        }
                    </tr>
                    @*<div class="form-group">*@
                    @{foreach (var invitee in Model.Invitees)
                        {
                            <tr>
                                <td>
                                    @invitee.Name
                                    <a asp-controller="EditAct" asp-action="DeleteInvitee" asp-route-Id="@invitee.InviteeId">x</a>
                                </td>
                                @{ foreach (var timeProposed in Model.TimeProposeds)
                                    {
                                        <td>
                                            <p style="text-align:center">
                                                <input type="checkbox" name="ActivityTimeInviteeTableIds"
                                                       value="@(invitee.InviteeId.ToString() + "+"
                                                            + timeProposed.TimeProposedId.ToString() + "x1")"
                                                       @((Model.ActivityTimeInvitees.FirstOrDefault(ati => ati.TimeProposedId == timeProposed.TimeProposedId && ati.InviteeId == invitee.InviteeId).Availability == AVAILABILITY.Y ? "checked" : "").ToString()) />
                                            </p>
                                        </td>

                                    }
                                }
                            </tr>
                        }
                    }
                    @*</div>*@
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Availabilities" class="btn btn-primary" />
                @*<input type="submit" value="AddTime" class="btn btn-primary" />*@
                @*<a asp-controller="Invitees" asp-action="ActivityCreate" asp-route-Id="@Model.ActivityId" class="btn btn-primary">AddInvitee</a>*@
                <a asp-controller="EditAct" asp-action="AddTime" asp-route-guid="@Model.Guid" class="btn btn-primary">Add Time</a>
                <a asp-controller="EditAct" asp-action="AddInvitee" asp-route-guid="@Model.Guid" class="btn btn-primary">Add Invitee</a>
                <a asp-controller="EditAct" asp-action="DeleteActivity" asp-route-guid="@Model.Guid" class="btn btn-primary">Delete Activity</a>
            </div>
        </form>
    </div>
</div>

