@model IEnumerable<PlanEvent.Data.Activity>

@{
    ViewData["Title"] = "Index";
}

<h1>Select activity</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="MainEdit" asp-route-guid="@item.Guid">Enter Activity</a>
                </td>
            </tr>
        }
        <a asp-controller="CreateAct" asp-action="CreateOrganiser" class="btn btn-primary">New Activity</a>
    </tbody>
</table>
